@model ContactInfo
@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    <h1 class="text-center mt-3 mb-3">Contact Info</h1>
    
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Description
                    </th>
                    <th>
                        Operations
                    </th>

                </tr>
            </thead>
            <tbody>
               
                    <tr>
                        

                        <td style="white-space:normal">
                            @Model.Desc
                        </td>

                        <td>
                            <a class="btn btn-info" asp-action="Detail" asp-route-id="@Model.Id">Detail</a>
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                        </td>

                    </tr>

            </tbody>
        </table>
    </div>
</div>

